<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
<% if (!job) { %>
<h1>Add New Job Entry</h1>
<form method="POST" action="/jobs">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  <div>
    <label name="company">Company Name:</label>
    <input name="company" />
  </div>
  <div>
    <label name="position">Position:</label>
    <input name="position" />
  </div>
  <div>
    <label for="status">Status:</label>
    <select name="status" id="status">
      <option value="interview">interview</option>
      <option value="declined">declined</option>
      <option value="pending">pending</option>
    </select>
  </div>
  <div>
    <button onClick="submit">Add Job</button>
    <a href="/jobs">
      <button type="button">Cancel</button>
    </a>
  </div>
  <input type="hidden" id="job" name="job" value="job._id" />
</form>

<% } else { %>

  <h1>Edit Job Entry</h1>
<form method="POST" action="/jobs/update/<%= job.id %>">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  <div>
    <label for="company" ">Company Name:</label>
    <input name="company" id="company" value="<%= job.company %>" />
  </div>
  <div>
    <label for="position">Position:</label>
    <input name="position" id="position" value="<%= job.position %>"/>
  </div>
  <div>
    <label for="status">Status:</label>
    <select name="status" id="status">
      <option value="interview">interview</option>
      <option value="declined">declined</option>
      <option value="pending" selected>pending</option>
    </select>
  </div>
  <div>
    <button onClick="submit">Edit Job</button>
    <a href="/jobs">
      <button type="button">Cancel</button>
    </a>
  </div>
</form>
<% } %> 

<%- include("partials/footer.ejs") %>
